<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="tests" parallel="tests" thread-count="3">
    <test name="TestsTestsChrome">
        <parameter name="browser" value="chrome"/>
        <parameter name="url" value="https://www.mercadolibre.com.ar/"/>
        <classes>
            <class name="tests.TestEnHome"/>
        </classes>
    </test>
    <test name="TestsTestsFirefox">
        <parameter name="browser" value="firefox"/>
        <parameter name="url" value="https://www.mercadolibre.com.ar/"/>
        <classes>
            <class name="tests.TestEnHome"/>
        </classes>
    </test>
    <test name="TestsTestsEdge">
        <parameter name="browser" value="edge"/>
        <parameter name="url" value="https://www.mercadolibre.com.ar/"/>
        <classes>
            <class name="tests.TestEnHome"/>
        </classes>
    </test>
</suite>
